.container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  min-height: 100vh;
}
mat-divider {
  margin-bottom: 24px;
  margin-top: 24px;
}
.result-container {
  height: 8vh;
}
